body {
  background-color: black;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 140%;
}

h1 {
  font-size: 200%;
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 5px 0px 5px 0px;
}

h3 {
  color: rgb(0, 255, 40);
}

p {
  font-size: 120%;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:visited {
  color: yellowgreen;
  background-color: grey;
  text-decoration: underline;
}
